.register-area {
  border: 1px solid gray;
  padding: 50px 0;
  margin: 80px;
}
.area {
  text-align: center;
}
.register-area h2 {
  padding: 20px 10%;
}

.control {
  border: none;
  margin: 0 auto;
  display: block;
  width: 60%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-bottom: 1px solid #ced4da;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
